<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align: center;">
      <h1 class="display-4">Eat-Da-Burger</h1>
      <img src ="assets/images/burger.jpg" width="200px">
      <form class="row justify-content-md-center">
				<input type="text" style = "width: 30%; margin-top: 20px; margin-bottom: 20px;" class="form-control" name="burger_name" value="" id="newBurger">
				<button type="submit" class="btn btn-primary" id="newBurgerBtn">Submit</button>
			</form>
      <p class="lead">Enter the Burger you want to eat, then click the submit button.</p>
    </div>
  </div>

  <!-- Pass in data from server.js -->
  {{#each burgers}}
  <p><span class="label"> {{this.id}}. {{this.burger_name}}
      <button data-id="{{this.id}}" class="delburger">Devour it!</button></span></p>
  {{/each}}

</div>